# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# User secrets
secrets.json

# VS
.vs/
*.csproj.user
launchSettings.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.db-shm
*.db-wal

# Uploaded files
AppData/uploads/

# Misc
appsettings.Development.json
